*{
  margin: 0;padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Comic Sans MS, Comic Sans, cursive;
  background-image: url(mayami.jpg);
  background-size: cover;
  background-position: top center;
}

.weather{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.6));
}

.weather__header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.weather__header-search{
  
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  background-color: rgba(255,255,255, 0.3);
  border-radius: 16px 0;
  border-bottom: 3px rgb(178, 125, 228) solid;

  color: cornsilk;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
}

input::-webkit-input-placeholder { color: rgb(228, 228, 228); }

.weather__header-search:focus{
  background-color: rgba(255,255,255, 0.5);
}

.weather__main{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 25px 50px;
}

.weather__main-location-city{
  color: azure;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 5px;
}

.weather__main-location-date{
  color:azure;
  font-size: 16px;
}

.weather__main-info-temp{
  color:azure;
  font-size: 102px;
  font-weight: 900;
  margin: 30px 0;
  text-shadow: 4px 10px rgba(0,0,0,0.6);
}

.weather__main-info-weather{
  color:azure;
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 15px;
  text-shadow: 0px 3px rgba(0,0,0,0.4);
}

.weather__main-info-hi-low{
  color:azure;
  font-size: 24px;
  font-weight: 500;
  text-shadow: 0px 4px rgba(0,0,0,0.4);
}